.titles{

    text-align: center;
  
    margin-top: 50px;
    padding: 60px 0;
    padding-bottom : 0;
}
.titles h2{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
}
.h2::before,  .h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #14279b;
    display: inline-block;
  }
  .h2::before {
    margin: 0 15px 10px 0;
  }
  
  .h2::after {
    margin: 0 0 10px 15px;
  }

    /* animation */
  

@keyframes slide-in-down {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}



.animate-down {
  animation: slide-in-down 1s ease-out forwards;
}