.sections {

    background: #f3f9fd;
    padding: 10px 0;
    text-align: center;
  
    margin-left: -62px;
    margin-right: 0px;
    padding-left: 158px;
    height: 121px;
    width : 1247px;
max-width : 1247px;

}
.container{
    margin-left : -97px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Space between the divs */
    align-items: center; /* Center align items vertically */
    gap: 10px; /* Space between the divs */
    width:1140px;
    height:106px
}
.img{
 
    align-items: center;
    justify-content: center;
    
    flex: 1; /* Equal width for each div */
 margin-top: 15px;

   width:190px;
  height:106px;
}
.image5{
    margin-top: 30px;
}
.image{
    /* width: 100px; */
  
        width: 50%;
        filter: grayscale(100%);
        transition: all 0.4s ease-in-out;
        display: inline-block;
        padding: 10px 0;
      
      
    
}
.image:hover {
    filter: grayscale(0);
  }


/* animation */
@keyframes slide-in-left {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slide-in-up {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slide-in-down {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.animate-left {
  animation: slide-in-left 1s ease-out forwards;
}

.animate-right {
  animation: slide-in-right 1s ease-out forwards;
}

.animate-up {
  animation: slide-in-up 1s ease-out forwards;
}

.animate-down {
  animation: slide-in-down 1s ease-out forwards;
}


  /* media */

  @media (max-width: 768px) {
    .row {
     width: 40%;
   }
 }
 
 @media (max-width: 575px) {
  img {
     /* width: 30%; */
   }
 }