.feature-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Adjust gap between cards */
    justify-content: space-between;
    margin-top : 27px;
}
.feature-item{
    width: 267px;
    height: 72px;
}

.feature-container .feature-item {
    flex: 1 1 calc(25% - 20px);
    /* Adjust to maintain equal space */
    background-color: #f6f6f6;
    padding: 20px;
    box-sizing: border-box;
    transition: background 0.3s ease-in-out;
  
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.feature-container  .feature-item:hover {
    background: #eef7fc;
}

.feature-item .feature-icon {
    font-size: 32px;
    margin-bottom: -10px;
   
}

.feature-item .feature-title {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    color: #222222;
    transition: color 0.3s ease-in-out;
  
 
}

.feature-item .feature-title:hover {
    color: #14279b;
}

/* animation */
@keyframes slide-in-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }
  .animate-up {
    animation: slide-in-up 1s ease-out forwards;
  }
  
